.footer{
    background-color: rgb(43, 42, 42);
    padding: 5%;
    color: white;
    height: 30vh;
}
.footer p {
    color: rgb(167, 163, 163);
}
.footerContent{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.footerSocial{
    width:15%;
    display: flex;
    justify-content: space-around;
}
.footerSocial img{
    width: 30px;
    height: 30px;

}
.footerStore img{
    width: 80px;
    height: 30px; 
    margin-left: 6px;
}
.microsoftImg{
    padding: 3px 3px 3px 0px;
    margin-left: 0 !important;
}

/* Móvil */
@media (max-width: 480px){
    .footerContent{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .footerSocial{
      margin: auto;
    }
    .footerSocial img{
        margin-right: 20% ;
    }
    .footerStore{
        margin: auto;
        margin-top: 20px ;
    }
}
